[submodule "java/external/RemotingProtocolParser"]
	path = java/external/RemotingProtocolParser
	url = https://github.com/wsky/RemotingProtocolParser.git
[submodule "java/external/websocket-client"]
	path = java/external/websocket-client
	url = https://github.com/wsky/websocket-client.git
[submodule "csharp/external/websocket-sharp"]
	path = csharp/external/websocket-sharp
	url = https://github.com/wsky/websocket-sharp.git
[submodule "csharp/external/RemotingProtocolParser"]
	path = csharp/external/RemotingProtocolParser
	url = https://github.com/wsky/RemotingProtocolParser.git
